vti_encoding:SR|utf8-nl
vti_author:SR|WANGSYPC\\Wang SY
vti_modifiedby:SR|WANGSYPC\\Wang SY
vti_timelastmodified:TR|24 Feb 2022 07:50:20 -0000
vti_timecreated:TR|24 Feb 2022 07:50:20 -0000
vti_cacheddtm:TX|24 Feb 2022 07:50:20 -0000
vti_filesize:IR|27285
vti_cachedlinkinfo:VX|S|watglobl.gif S|watbkgnd.gif S|watbul2.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/watermar/watglobl.gif FSUS|_themes/watermar/watbkgnd.gif FSUS|_themes/watermar/watbul2.gif FSUS|_themes/watermar/toolgrad.gif FSUS|_themes/watermar/dot.gif FSUS|_themes/watermar/toolgrad.gif FSUS|_themes/watermar/theme.css FSUS|_themes/watermar/blank.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|_themes/watermar/theme.css
