a:link{
color:#6666CC;
}
a:visited{
color:#996666;
}
a:active{
color:#669999;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#BBBBBB;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#9999FF;
table-border-color-dark:#330099;
border-color:#330099;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#6666CC;
}
TD{
border-color:#6666CC;
}
