vti_encoding:SR|utf8-nl
vti_author:SR|WANGSYPC\\Wang SY
vti_modifiedby:SR|WANGSYPC\\Wang SY
vti_timelastmodified:TR|24 Feb 2022 11:04:08 -0000
vti_timecreated:TR|24 Feb 2022 11:04:08 -0000
vti_cacheddtm:TX|24 Feb 2022 11:04:08 -0000
vti_filesize:IR|28181
vti_cachedlinkinfo:VX|S|sumglob.gif S|sumtextb.jpg S|sumbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sumipntg/sumglob.gif FSUS|_themes/sumipntg/sumtextb.jpg FSUS|_themes/sumipntg/sumbul2d.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/dot.gif FSUS|_themes/sumipntg/toolgrad.gif FSUS|_themes/sumipntg/theme.css FSUS|_themes/sumipntg/blank.gif
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|_themes/sumipntg/theme.css
